root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.{py,c,md,yml,yaml}]
indent_style = space

[*.{py}]
indent_size = 4

[*.{html,css,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
