@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Zen+Maru+Gothic&display=swap');

@font-face {
  font-family: 'HuiFont';
  src: url('/static/fonts/HuiFont29.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

:root {
  --site-background-color: linear-gradient(0.75turn, #78A782 0%, #529664 37%, #70C381 68%, #98C99F 100%, #BEDFC2 100%);
  --site-edge-color: #3B5B46;

  --background-color: #D9D9D9;
  --input-color: #A4A0A0;
  --text-color: #ffffff;
  --button-color: #C13535;

  --edge-width: 80px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--site-background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  width: 100dvw;
  background: linear-gradient(to left, #78A782,#529664 30%, #529664 42%, #70C381 78%, #70C381);
}

body>.edge {
  background: var(--site-edge-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: var(--edge-width);
  height: 100dvh;
}

body> :not(.edge) {
  width: calc(100dvw - var(--edge-width) * 2);
}

.texture{
  filter: grayscale(100%);
  mix-blend-mode: multiply;
  position: absolute;
  right: 250px;
  z-index: -1;
  img{
    width: 120%;
  }
}

.font-balooda {
  font-family: "Baloo Da 2", sans-serif;
  font-optical-sizing: auto;
}

.font-zenmaru {
  font-family: "Zen Maru Gothic", sans-serif;
  font-optical-sizing: auto;
}

.font-hui {
  font-family: "HuiFont", sans-serif;
  font-optical-sizing: auto;
}
