<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>enikki</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class="edge"></div>
    <img id="texture" src="/static/images/texture1.jpg">
    <div class="menuber">
      <ul>
        <li><a href="/view"><img src="/static/icons/home.png" alt=""></a></li>
        <li><a href="/create"><img src="/static/icons/pencil.png" alt=""></a></li>
        <li><a href="/favorites"><img src="/static/icons/hanamaru.png" alt=""></a></li>
        <li><a href="/mypage"><img src="/static/icons/user.png" alt=""></a></li>
      </ul>
    </div>
    <div id="container">
      {% block body %}
      {% endblock %}
    </div>
    <div class="edge"></div>
  </body>

</html>
