{% extends "base.html" %}

{% block head %}
<link href="/static/css/enikki.css" rel="stylesheet">
<style>
  .container {
    margin-block: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .comment {
    color: white;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 48px;
    list-style: none;
    margin-bottom: 50px;
  }
</style>
{% endblock head %}

{% block body %}

<div class="container">
  <h1 class="font-balooda">enikki</h1>

  {% with month=post.created_at.month, day=post.created_at.day, content=post.content, image_id=post.id %}
  {% include 'enikki.html' %}
  {% endwith %}

  <ul>
    {% for comment in comments %}
    <li class="comment">{{ comment }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock body %}
