<!-- 一緒に `<link href="/static/css/enikki.css" rel="stylesheet">`  を使うこと -->

<div class="enikki__main">
  {% if image_id %}
  <img class="enikki__drawing-canvas" src="/image/?id={{ image_id }}">
  {% else %}
  <canvas class="enikki__drawing-canvas"></canvas>
  {% endif %}
  <div class="enikki__body">
    {% if content %}
    <textarea class="enikki__content" spellcheck="false" disabled>{{ content }}</textarea>
    {% else %}
    <textarea class="enikki__content" spellcheck="false" name="content" placeholder="きょうのできごと"></textarea>
    {% endif %}
    <div class="enikki__date">
      <p class="enikki__month-entity">{{ month }}</p>
      <p class="enikki__month-label">がつ</p>
      <p class="enikki__day-entity">{{ day }}</p>
      <p class="enikki__day-label">にち</p>
    </div>
  </div>
</div>
