<!-- 一緒に `<link href="/static/css/enikki.css" rel="stylesheet">`  を使うこと -->

<div class="enikki__main">
  <canvas class="enikki__drawing-canvas"></canvas>
  <div class="enikki__body">
    <textarea class="enikki__content" spellcheck="false">{{ content }}</textarea>
    <div class="enikki__date">
      <p class="enikki__month-entity">{{ month }}</p>
      <p class="enikki__month-label">がつ</p>
      <p class="enikki__day-entity">{{ day }}</p>
      <p class="enikki__day-label">にち</p>
    </div>
  </div>
</div>
