{% extends "base.html" %}

{% block head %}

<style>
  body {
    /* background: #ffffff; */
    position: relative;
  }

  .background {
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    position: absolute;
    z-index: -1;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity 2s ease;
  }

  h2 {
    font-size: 44px;
    display: flex;
    position: absolute;
    right: 11%;
    top: 10%;
    writing-mode: vertical-rl;
    font-weight: 100;
    opacity: 1;
    transition: opacity 2s ease;
  }

  .fade-out {
    opacity: 0;
  }
</style>

{% endblock head %}

{% block body %}

<script>
  setTimeout(() => {
    const wrapper = document.getElementById('fedeout-text');
    // const background = document.getElementById('fedeout-back');
    wrapper.classList.add('fade-out');
    // background.classList.add('fade-out');

    setTimeout(() => {
      window.location.href = "/create";
    }, 2000);
  }, 3000);
</script>

{% include "title-enikki.html" %}

<div class="background" id="fedeout-back"></div>
<h2 class="font-hui" id="fedeout-text">{{ word }}</h2>

{% endblock body %}
