{% extends "base.html" %}
{% block head %}
<style>
  #mypage {
    width: 80%;
    margin: 0 auto;
  }

  .name__line {
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 0 0 20px 0;
  }

  .name__block>* {
    margin: 0;
    padding: 0;
  }

  .name__block {
    margin: 20px 0 3px 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .name__title {
    font-size: 2.5rem;
    color: #ffffff;
  }

  .name__username {
    font-size: 3.5rem;
    color: #ffffff;
  }


  .name__change {
    /* TODO: Add link to change username */
    opacity: 0;
  }

  .daily__image {
    background-color: #ffffff;
    border: #ffffff solid 5px;
    aspect-ratio: 3/2;
    border-radius: 10px;
    margin-top: 12px;

    &:hover {
      border: #a3a3a3 solid 5px;
    }
  }

  .daily__image:hover {
    border-color: #a3a3a3;
  }

  .daily__title {
    font-size: 2.7rem;
    color: #ffffff;
    margin: 40px 0;
    text-align: center;
  }

  .daily__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
  }

  .daily__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .daily__date {
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0;
    margin-left: 10px;
  }

  /* Responsive Styles */
  @media (max-width: 992px) {
    #mypage {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    .name__title {
      font-size: 2rem;
    }

    .name__username {
      font-size: 2.8rem;
    }

    .daily__title {
      font-size: 2.2rem;
    }
  }

  @media (max-width: 576px) {
    .name__block {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    .daily__list {
      grid-template-columns: 1fr;
    }
  }
</style>
{% endblock head %}
{% block body %}
<div id="mypage">
  <div class="name__block font-zenmaru">
    <h2 class="name__title">なまえ</h2>
    <h1 class="name__username">{{ username }}</h1>
    <h3 class="name__change">変更する</h3>
  </div>
  <div class="name__line"></div>
  <h2 class="daily__title font-zenmaru">これまでのえにっき</h2>
  <div class="daily__list font-zenmaru">
    {% for post in posts %}
    <div>
      <h3 class="daily__date">{{ post.date }}</h3>
      <a href="/details/{{ post.id }}" class="daily__item">
        <img class="daily__image" src="/image/?id={{ post.id }}">
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock body %}
