{% extends "base.html" %}

{% block head %}
<style>
  .font-balooda {
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 45%;
    left: 15%;
  }

  .button-container {
    position: fixed;
    bottom: 100px;
    right: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: #444;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  img {
    width: 80%;
    margin-top: 5px;
  }

  .f-icon {
    width: 115%;
    margin-left: -3.5px;
  }

  .circle-btn:hover {
    background-color: #ddd;
  }

  #comment-input {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 500px;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease-in-out;
    z-index: 1000;
  }

  #comment-input.show {
    opacity: 1;
    pointer-events: auto;
  }
</style>
{% endblock head %}

{% block body %}
<h1 class="font-balooda">enikki</h1>

<div class="button-container">
  <button class="circle-btn">
    <img src="{{ url_for('static', filename='icons/F.png') }}" class="f-icon" alt="花丸アイコン">
  </button>

  <button class="circle-btn" id="send-btn">
    <img src="{{ url_for('static', filename='icons/comments.png') }}">
  </button>


  <input type="text" id="comment-input" placeholder="コメントを入力" maxlength="20">

  <button class="circle-btn">
    <img src="{{ url_for('static', filename='icons/three-dots.png') }}" alt="三点リーダー">
  </button>
</div>

<script>
  const btn = document.getElementById("send-btn");
  const input = document.getElementById("comment-input");

  btn.addEventListener("click", () => {
    input.classList.toggle("show");

    if (input.classList.contains("show")) {
      input.focus();
    } else {
      input.blur();
    }
  });
  input.addEventListener("keydown", (event) => {
    if (event.key === "Enter" && input.value.trim() !== "") {
      console.log("送信されたコメント:", input.value);
      input.value = "";
      input.classList.add("hidden");
    }
  });
</script>
{% endblock body %}